// Utility Classes
// -----------------------------------------------------------------------------
.ctr {
  text-align: center;
}

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}

.mobile-hide {
  @include media($small-screen) { display: none; }
}

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  overflow-wrap: break-word;
  // word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.expander {
  @include transition($base-duration);
  .expander-trigger { display: block; }
  .expander-content { margin-bottom: $base-spacing; }
  .expander--hidden { display: none;}
}


// Global styles
// -----------------------------------------------------------------------------
html { min-height: 100vh; }

.container {
  @include outer-container;
  padding: 0 $small-spacing;
  @include media($large-screen-up) { padding: 0; }
}

%body-text {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  @include text-size(1.0675);
  @include media($medium-screen-up) { @include text-size(1.125); }
  @include media($large-screen-up) { @include text-size(1.25); }
}

.smaller-text {
  h2 { font-size: 1.75em; }
  h3 {
    font-weight: 700;
    font-size: 1.25em;
  }

  blockquote, li, p {
    font-size: 1rem;
    text-indent: 0;
  }

  blockquote {
    background-color: $light-gray;
    margin: $base-spacing 0 0 0;
    padding: $base-spacing;
    border-radius: $base-border-radius * 2;
    h3 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  p { margin-bottom: 1rem; }
  p + p { text-indent: 0; }
  ul { margin-bottom: 1rem; }

}
