// Global page styles
// -----------------------------------------------------------------------------
%page-layout {
  @include media($medium-screen-up) {@include span-columns(10); @include shift(1);}
  @include media($large-screen-up) {@include span-columns(8); @include shift(2);}
}

.page {
  @extend .container;
  margin-bottom: $base-spacing * 2;
}

.page-header,
.page-content {
  @extend %page-layout;
}


// Page Header
// -----------------------------------------------------------------------------
.page-cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  background-color: tint($light-gray, 30%);
  background-position: center top;
  background-size: cover;
  height: 200px;
  margin-bottom: $base-spacing;
  margin-top: $navbar-height;
  padding: $small-spacing;

  @include media($medium-screen-up) { height: 300px; }
  @include media($large-screen-up) { height: 350px; }

  .page-title,
  .page-author {
    text-align: center;
  }
}

.page-header {
  margin-bottom: $small-spacing;
  margin-top: em($navbar-height) + $base-spacing;
}

.page-title {
  margin-bottom: 0;
}

.page-author {
  color: $medium-gray;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0.25rem;
}


// Page Content
// -----------------------------------------------------------------------------
.page-content {
  @extend %body-text;
}

.page-content ul {
  margin-left: $base-spacing;
  list-style-type: disc;
  li {
    margin-bottom: $small-spacing;
  }
}

.page-content ol {
  margin-left: $base-spacing;
  list-style-type: decimal;
  li {
    margin-bottom: $small-spacing;
  }
}

.page-content table {
  margin-bottom: $base-spacing * 2;
}

.page-content td ul {
  font-size: $base-font-size;
  margin-left: 0;
  list-style-type: none;
}

.page-content tr,
.page-content th,
.page-content td {
  vertical-align: top;
  padding-right: $small-spacing;
}

.footnotes {
  margin-top: $base-spacing * 4;
  padding-top: $base-spacing;
  border-top: 1px solid shade($base-border-color, 25%);
  font-size: $base-font-size * .6;
  ol {
    margin-left: $base-spacing;
    list-style-type: decimal;
  }
}

.page-content .sidebar {
  background-color: $light-gray;
  margin: $base-spacing 0 0 0;
  padding: $base-spacing;
  border-radius: $base-border-radius * 2;
  h2 {
    margin-top: 0;
  }
}
