.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5 Other Formats
  .expander-content.nav-downloads
    %ul
      - data.book.editions.each do |edition|
        - if edition.name != "Online"
          - if edition.link != nil
            %li= link_to "#{edition.name}", edition.link, :target => "blank", :class => "no-smoothState"
          - else
            %li= "#{edition.name} — Coming soon"
