---
title: Glossary 
layout: page
sort_order: 7
---
%ul.glossary
  - data.definitions.each do |term|
    %li{:id => term.id.parameterize.underscore}
      .definition
        %span.term= "#{term.id}"
        %br
        - if term.crossref
          %em See
          %a{:href => "##{term.crossref.parameterize.underscore}"}= term.crossref
        - else
          = term.definition
